/* Modal Content (image) */
.modal-body {
    max-height: 800px;
}

.preview {
    max-height: 450px;
    min-width: 200px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
    text-decoration: none;
}

.encuadrar {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.linkstyle {
    color: black;
    size: 1rem;
}

.title_space{
    height: 5rem;
}

.title{
    font-size: 2rem;
    white-space: pre-wrap;
    position: relative;
}