<section id="recovery" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card-recovery">
                    <div class="card">
                        <div class="card-body text-center">
                            <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
                                <h1 class="h3 mb-3 font-weight-normal">{{recovery}}</h1>
                                <div class="form-group">
                                    <input type="email" formControlName="email" class="form-control"
                                        placeholder="Correo" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">{{email_required}}</div>
                                        <div *ngIf="f.email.errors.pattern">{{email_invalid}}</div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">{{recovery}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>