<div id="oportunidades" class="container eArriba100 eAbajo100">
  <div class="col-md-12">
    <h1 class="text-center eAbajo25">Diversas ofertas para sustentar tu vida universitaria</h1>
    <div class="row">
      <div class="col-sm-4 eArriba25">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <a class="btn btn-light" href="https://www.fundacionjbg.org/becas-universitarias" target="_blank">
              <img src="./assets/images/bacas1.jpg">
            </a>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="col-sm-4 eArriba25">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <a class="btn btn-light centerURL" href="http://principal.url.edu.gt/index.php/academia/becas" target="_blank">
              <img src="./assets/images/becas2.jpg">
            </a>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="col-sm-4 eArriba25">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <a class="btn btn-light" href="https://www.usac.edu.gt/becasusac.php" target="_blank">
              <img src="./assets/images/becas3.jpg">
            </a>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>