a:link {
    text-decoration: none;
}

.carousel img{
    width: 100%;
    height: auto;
}

.logo {
    max-width: 500px;
    height: auto;
}

.lottie_down {
    width: 30%;
    padding: 1vw;
    margin: auto;
}