<div class="container">
    <section id="data" class="mb-5 mt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 mx-auto">
                <div class="card-data">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="col-lg-12 col-sm-12 col-12 profile-header card">
                                <img src="{{user.photoURL}}" class="centerxy rounded-circle img-thumbnail"
                                    alt="profile">
                            </div>
                            <app-modal-update-avatar class="edit_position" [data]="user"></app-modal-update-avatar>
                            <app-modal-update-user [data]="user"></app-modal-update-user>
                            <app-modal-update-email [data]="user"></app-modal-update-email>
                            <app-modal-update-password [data]="user"></app-modal-update-password>
                            <button class="btn btn-lg btn-light btn-block" (click)="onDelete()">
                                <div class="row no-gutters preview">
                                    <div class="col">
                                        <p class="centery">{{deleteAccount}}</p>
                                    </div>
                                    <div class="col-auto">
                                        <div class="centerxy">
                                            <em class="fas fa-times"></em>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>