<div id="divNavbar" class="eAbajoNavBar">
  <nav class="navbar navbar-expand-md text-center navbar-dark">
    <a class="navbar-brand font-weight-bold" routerLink="/" (click)="hideNav()">
      {{app_name}}
    </a>
    <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleControl()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--left content-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a id="nav_home" class="nav-link font-weight-bold active" href="{{div_home}}" pageScroll id="scrollHome" [pageScrollInterruptible]="false" (click)="collapseNav(div_home)" (click)="onHome()">{{nav_home}}</a>
        </li>
        <li class="nav-item">
          <a id="nav_universities" class="nav-link font-weight-bold active" href="{{div_universities}}" pageScroll id="scrollUniversities" [pageScrollInterruptible]="false" (click)="collapseNav(div_universities)" (click)="onHome()">{{nav_universities}}</a>
        </li>
        <li class="nav-item">
          <a id="nav_opportunities" class="nav-link font-weight-bold active" href="{{div_opportunities}}" pageScroll id="scrollOpportunities" [pageScrollInterruptible]="false" (click)="collapseNav(div_opportunities)" (click)="onHome()">{{nav_opportunities}}</a>
        </li>
        <li class="nav-item">
          <a id="nav_histories" class="nav-link font-weight-bold active" href="{{div_histories}}" pageScroll id="scrollHistories" [pageScrollInterruptible]="false" (click)="collapseNav(div_histories)" (click)="onHome()">{{nav_histories}}</a>
        </li>
        <li class="nav-item">
          <a id="nav_research" class="nav-link font-weight-bold active" href="{{div_research}}" pageScroll id="scrollResearch" [pageScrollInterruptible]="false" (click)="collapseNav(div_research)" (click)="onHome()">{{nav_research}}</a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isLoggedIn">
          <a id="nav_profile" class="nav-link font-weight-bold active" routerLink="/user/profile/update" href="{{div_navbar}}" pageScroll id="scrollProfile" [pageScrollInterruptible]="false" (click)="collapseNav(div_profile)">{{nav_profile}}</a>
        </li>        
        <li class="nav-item" *ngIf="!this.authService.isLoggedIn">
          <a id="nav_login" class="nav-link font-weight-bold active" routerLink="/user/login" href="{{div_navbar}}" pageScroll id="scrollProfile" [pageScrollInterruptible]="false" (click)="collapseNav(div_login)">{{nav_login}}</a>
        </li>
        <li class="nav-item" *ngIf="!this.authService.isLoggedIn">
          <a id="nav_register" class="nav-link font-weight-bold active" routerLink="/user/register" href="{{div_navbar}}" pageScroll id="scrollProfile" [pageScrollInterruptible]="false" (click)="collapseNav(div_register)">{{nav_register}}</a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isLoggedIn">
          <a id="nav_logout" class="nav-link font-weight-bold active" (click)="collapseNav(div_home)" href="{{div_navbar}}" pageScroll id="scrollProfile" [pageScrollInterruptible]="false" (click)="onLogout()">{{nav_logout}}</a>
        </li>
        <li class="nav-link">
          <a href="https://www.facebook.com/infousocial/" class="fab fa-facebook encuadrar text-light" target="_blank" rel="noopener noreferrer" (click)="collapseNav(div_home)"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>