<ng-template #content let-modal modal-lg>
    <div class="modal-header">
        <h4 class="modal-title title-style" id="modal-basic-title">{{university.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="university.img" class="container">
            <a [className]="condition ? 'btn btn-light' : ''" href="{{university.web}}" target="_blank">
                <img src="{{university.img}}">
            </a>
            <div class="description">
                <p *ngIf="university.description" innerHTML="{{university.description}}"></p>
            </div>
            <div class="menu row">
                <div class="menu_option">
                    <a href="{{university.inscription_link}}" target="_blank">
                        <img src="{{university.inscription_image}}" alt="HTML tutorial">
                        <p>{{inscription}}</p>
                    </a>
                </div>
                <div class="menu_option">
                    <a href="{{university.careers_link}}" target="_blank">
                        <img src="{{university.careers_image}}">
                        <p>{{careers}}</p>
                    </a>
                </div>
                <div class="menu_option">
                    <a href="{{university.locations_link}}" target="_blank">
                        <img src="{{university.locations_image}}">
                        <p>{{locations}}</p>
                    </a>
                </div>
            </div>
            <div class="description">
                <a href="{{university.web}}" target="_blank" class="text-light"><span class="fas fa-globe">
                    </span> {{university.web}}</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{close}}</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-light" (click)="open(content)">
    <div *ngIf="!university.img">
        <h1 *ngIf="university.description">{{university.title}}</h1>
    </div>
    <div *ngIf="university.img">
        <div class="title_space">
            <h2 class="title">{{university.title}}</h2>
        </div>
        <img src="{{university.img}}" class="preview">
    </div>
</button>

<pre>{{closeResult}}</pre>