/* Modal Content (image) */
.modal-body {
    max-height: 800px;
}

.preview {
    padding: 1rem;
    /*max-height: 450px;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.title_space{
    height: 3rem;
}

.title{
    font-size: unset;
    white-space: pre-wrap;
    position: relative;
}

.card {
    height: 15rem;
    width: 15rem;
    position: relative;
}

.card img {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: auto;
    width: auto;
    max-height: 15rem;
    max-width: 15rem;
}