<div class="container text-center">
    <div class="col-md-12">
        <h1>{{title}}</h1>
        <!--<p class="lead"></p>-->
        <hr class="my-4">
        <div>{{description}}</div>
        <ngx-slick-carousel class="carousel eArriba25" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of opportunities$ | async" class="slide">
                <ngbd-modal-opportunity [opportunity]="slide"></ngbd-modal-opportunity>
            </div>
        </ngx-slick-carousel>
    </div>
</div>