/* Modal Content (image) */

.modal-body {
    max-height: 800px;
    position: relative;
}

.title-style {
    color: #4078ad;
}

a:link {
    text-decoration: none;
}

.title_space {
    max-height: 4rem;
    width: 100%;
}

.title_space .col-md-8 {
    max-width: 75%;
    font-size: medium;
    white-space: pre-wrap;
}

.title_space .col-md-4 {
    max-width: 25%;
}

.title_space .col-md-4 img {
    height: auto;
    max-width: 3rem;
    min-width: 1.5rem;
}