/* Modal Content (image) */

.modal-body {
    max-height: 800px;
    position: relative;
}

.title-style {
    color: #4078ad;
}

a:link {
    text-decoration: none;
}

.preview {
    white-space: pre-wrap;
    max-height: 4rem;
}