/* You can add global styles to this file, and also import other style files */
/*------------------------------Layout------------------------------*/

.navbar-default {
    height: 30px;
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
  }
  .navbar-form {
    margin-top: 22px;
  }

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    }

/* Main content */
.main {
    margin-top: 70px; /* Add a top margin to avoid content overlay */
} 

.eArriba55{
    margin-top: 55px;
}

.eArriba5{
    margin-top: 5px;
}

.eArriba200{
    margin-top: 200px;
}

.eArriba25 {
    padding-top: 25px;
    }
    
.eArriba100 {
    padding-top: 100px;
    }

.eArriba200 {
padding-top: 200px;
}

.eAbajo25 {
padding-bottom: 25px;
}

.eAbajo200 {
padding-bottom: 200px;
}

.eAbajo100 {
padding-bottom: 100px;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;
}

.center {
margin: auto;
width: 50%;
}

.centerMenu {
    margin: auto;
    width: 35%;
    }

.centrar {
margin: auto;
width: 30%;
}

img {
    width: 100%;
    height: auto;
}

.right {
float: right;
width: 220px;
}

.left {
float: left;
width: 200px;
}

.alto30 {
height: 30px;
padding-bottom: 20px;
}

/* Social bar 

.fa {
    margin-top: 5px;
    padding: 0px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want 
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand

/* Facebook 
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter 
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-envelope{
    color: white;
  }*/