<div class="container text-center">
    <div class="col-md-12">
        <h1>{{title}}</h1>
        <!--<p class="lead"></p>-->
        <hr class="my-4">
        <div>{{description}}</div>
        <ngx-slick-carousel class="carousel eArriba25" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of histories$ | async" class="slide">
                <ngbd-modal-history modalTitle="{{slide.title}}" imagePath="{{slide.img}}"
                    description="{{slide.description}}" linkPath="{{slide.web}}" userName="{{slide.username}}"></ngbd-modal-history>
            </div>
        </ngx-slick-carousel>
    </div>
</div>