<div class="container text-center">
    <div class="col-md-12">
        <h1>{{title}}</h1>
        <!--<p class="lead"></p>-->
        <hr class="my-4">
        <div>{{description}}</div>
        <ngx-slick-carousel class="carousel eArriba25" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of research$ | async" class="slide">
                <h2>{{slide.title}}</h2>
                <ngbd-modal-basic class="preview" modalTitle="{{slide.title}}" imagePath="{{slide.img}}"
                    description="{{slide.description}}" linkPath=""></ngbd-modal-basic>
            </div>
        </ngx-slick-carousel>
    </div>
</div>