<div class="main eAbajo100">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5">
            <img src="./assets/images/InfoUGrande.png">
          </div>
          <div class="col-md-7 text-center">
            <p>
              Info U es el sitio ideal para informarte,
            </p>
            <p>
              motivarte y darte cuenta de que lo puedes lograr.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>