<div class="eArriba100 eAbajo100">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <img src="./assets/images/InfoUGrande.png">
        </div>
        <div class="col-md-7 text-center eArriba25">
          <p>
            Info U es el sitio ideal para informarte,
          </p>
          <p>
            motivarte y darte cuenta de que lo puedes lograr.
          </p>
          <p>
            Aquí podrás encontrar todo tipo de información
          </p>
          <p>
            de interés para guíarte y darte cuenta que la eduación
          </p>
          <p>
            superior en Guatemala sí es posible.
          </p>
          <p>
            Solo necesita dedicación.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>