<div id="oportunidades" class="container eArriba100 eAbajo100">
  <div class="col-md-12">
    <h1 class="text-center eAbajo25">Personas destacadas en Guatemala</h1>
    <div class="row">
      <div class="col-sm-4 eArriba25">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <a class="btn btn-light" href="http://www.galileo.edu/facisa/historias-de-exito/historia-exito-david-bonilla/" target="_blank">
              <img src="./assets/images/hde1.jpg">
            </a>
          </div>
          <div class="panel-footer text-center"><h4>David Bonilla</h4></div>
        </div>
      </div>
      <div class="col-sm-8 eArriba25">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <iframe class="centerV  btn btn-light" src="https://www.youtube.com/embed/94B0P9kyd_g" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 eArriba25">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <iframe class="centerV btn btn-light" src="https://www.youtube.com/embed/9g6DVX9i-Fk" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="col-sm-4 eArriba25">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <a class="btn btn-light" href="http://www.prensalibre.com/revista-d/deiby-gomez-valio-la-pena-el-sacrificio" target="_blank">
              <img src="./assets/images/hde2.jpg">
            </a>
          </div>
          <div class="panel-footer text-center"><h4>Deiby Gómez</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>